<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts_style.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Sirena Riot</title>
  </head>
  <body>
    <div class="container">
      <h2>Nueva Contraseña</h2>
      <span class="msg"></span>
      <form action="" method="POST" id="form_change">
        <label for="new_pass">Nueva Contraseña *</label>
        <input type="text" id="new_pass" />
        <button type="submit" id="button_new_pass" form="form_change">GUARDAR</button>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>

    <script src="/js/change.js" defer></script>
  </body>
</html>
