@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto:400,700,900&display=swap");

$first_color: #0057da;
$second_color: #f7f5f5;
$white_color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto", sans-serif;
  //   font-family: "Comfortaa", cursive;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow: scroll;
  background: $second_color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: $white_color;
  // margin: 6px;
}

.nav {
  background: $first_color;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.button_left {
  background: $first_color;
  padding: 5px;
  margin-right: 10px;
  border: 0px;
  color:$white_color;
  font-size: 1.1rem;
}

.button_right {
  background: $first_color;
  padding: 5px;
  margin-left: 10px;
  border: 0px;
  color:$white_color;
  font-size: 1.1rem;
}

h1 {
  color: $white_color;
}

.space {
  flex-grow: 1;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.br {
  width: 100%;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #dddddd;
}